<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Visual BACNet" tabIcon="Optigo-customicon1"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Portfolio" tabIcon="code-working"></ion-tab>
</ion-tabs>
