<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Code samples
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background">
    <ion-list>
        <ion-item>
            <h2>
                <a href="http://www.monetadvisor.com">HTML + CSS3 + design (responsive)</a>
            </h2>            
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://mvp-achie.firebaseapp.com/game.html">Mobile app Monet (MVP)</a>
            </h2>            
        </ion-item>
        <ion-item>
            <h2>
                <a href="http://blog.monetadvisor.com">Wordpress + design (responsive)</a>
            </h2>            
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/augmented">Augmented reality (Monet 3D)</a>
            </h2>            
        </ion-item>                
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/php_api">Restful API (PHP Laravel)</a>
            </h2>            
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/ionic">Angular + Ionic</a>
            </h2>
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/Angular2/tree/master/MyFavoriteMoviesCrud/src/app">Angular</a>
            </h2>
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/Angular2/tree/master/MyFavoriteMoviesCrud/server">Node</a>
            </h2>            
        </ion-item>
        <ion-item>
            <h2>
                <a href="https://github.com/elviscristiano/java">Java bouncing balls (multi-thread)</a>
            </h2>            
        </ion-item>


    </ion-list>
</ion-content>
