<ion-header>
    <ion-navbar color="primary">
        <ion-title>Optimize your BACNet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <div (click)="openTroubleshootPage()">
                    <img width="70" src="assets/imgs/ico_troubleshooting.png"><br />
                    <span class="menuTitle">Troubleshoot</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <img width="70" src="assets/imgs/ico_monitor.png"><br />
                <span class="menuTitle">Monitor</span>
            </ion-col>
        </ion-row>

        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <img width="70" src="assets/imgs/ico_service.png"><br />
                <span class="menuTitle">Service</span>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>