<!--
  Generated template for the NetCheckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Net Check</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
        <ion-row>
            <ion-col col-12>
				<span class="menuTopic" style="font-weight: bold;">Who-Is Checks</span> <ion-badge color="danger" style="float: right;">1</ion-badge> <ion-badge color="orange" style="float: right;">0</ion-badge> <ion-badge color="greenish" style="float: right;">1</ion-badge>
			</ion-col>
		</ion-row>

		<ion-list>
	        <ion-row>
	            <ion-col col-2>
	                <ion-item>
	                    <ion-checkbox></ion-checkbox>
	                </ion-item>
	            </ion-col>
	            <ion-col col-10>
	                <ion-item>
	                    <p class="topicTitle" style="font-weight: bold;">Global Who-Is</p>
	                    <ion-icon name="information-circle" color="primary" item-right></ion-icon>
	                    <p class="topicTitle">22 pkts</p>	
	                </ion-item>
	            </ion-col>
	        </ion-row>
	        <ion-row>
	            <ion-col col-2>
	                <ion-item>
	                    <ion-checkbox></ion-checkbox>
	                </ion-item>
	            </ion-col>
	            <ion-col col-10>
	                <ion-item>
	                    <p class="topicTitle" style="font-weight: bold;">Global Who-Is Router</p>
	                    <ion-icon name="information-circle" color="primary" item-right></ion-icon>
	                    <p class="topicTitle">0 pkt</p>	
	                </ion-item>
	            </ion-col>
	        </ion-row>	        
		</ion-list>

       <ion-row class="verticalPad">
            <ion-col col-12>
				<span class="menuTopic" style="font-weight: bold;">Device Checks</span> <ion-badge color="danger" style="float: right;">211</ion-badge> <ion-badge color="orange" style="float: right;">0</ion-badge> <ion-badge color="greenish" style="float: right;">1</ion-badge>
			</ion-col>
		</ion-row>

		<ion-list>
	        <ion-row>
	            <ion-col col-2>
	                <ion-item>
	                    <ion-checkbox></ion-checkbox>
	                </ion-item>
	            </ion-col>
	            <ion-col col-10>
	                <ion-item>
	                    <p class="topicTitle" style="font-weight: bold;">Unresponsive devices</p>
	                    <ion-icon name="information-circle" color="primary" item-right></ion-icon>
	                    <p class="topicTitle">211 devices</p>	
	                </ion-item>
	            </ion-col>
	        </ion-row>
	        <ion-row>
	            <ion-col col-2>
	                <ion-item>
	                    <ion-checkbox></ion-checkbox>
	                </ion-item>
	            </ion-col>
	            <ion-col col-10>
	                <ion-item>
	                    <p class="topicTitle" style="font-weight: bold;">Duplicate device ID</p>
	                    <ion-icon name="information-circle" color="primary" item-right></ion-icon>
	                    <p class="topicTitle">0</p>	
	                </ion-item>
	            </ion-col>
	        </ion-row>	        
	        <ion-row>
	            <ion-col col-2>
	                <ion-item>
	                    <ion-checkbox></ion-checkbox>
	                </ion-item>
	            </ion-col>
	            <ion-col col-10>
	                <ion-item>
	                    <p class="topicTitle" style="font-weight: bold;">Duplicate source address</p>
	                    <ion-icon name="information-circle" color="primary" item-right></ion-icon>
	                    <p class="topicTitle">0</p>	
	                </ion-item>
	            </ion-col>
	        </ion-row>	        

		</ion-list>


	</ion-grid>
</ion-content>
