// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


a {
	text-decoration: none;
}

.background, .background .pane, .background .item, .background .item-complex .item-content, .content, .list {
    background-color: #eef9f9;
}


ion-icon {
    &[class*="Optigo-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="Optigo-customicon1"] {
        mask-image: url(../assets/imgs/backnet_ico.svg);
    }
}

@font-face {
    font-family: Cuprum;
    src: url('../assets/fonts/cuprum.woff2') format('woff2');
}
 
.menuTitle {
    font-family: Cuprum;
    font-size: 1.1em;
    color: #8dc63f;
}

.topicTitle {
    font-family: Cuprum;
    color: #005581;
}


.verticalPad {
    padding-top: 2.3em;
}

.leftPad {
    padding-left: 2.3em;
}
