<ion-header>
    <ion-navbar color="primary" class="background">
        <ion-title>
            Clients (from API)
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <p>
                <span>{{item.name}}<br />
                <a href="mailto:{{item.email}}">{{item.email}}</a></span>
            </p>
        </ion-item>
    </ion-list>
</ion-content>