<ion-header>

  <ion-navbar color="primary">
    <ion-title>Troubleshoot</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid>

        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <div (click)="openNetHealthPage()">
                    <img width="70" src="assets/imgs/ico_assess.png"><br />
                    <span class="topicTitle">Net Health</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <div (click)="openNetActivityPage()">
                    <img width="70" src="assets/imgs/ico_visualize.png"><br />
                    <span class="topicTitle">Net Activity</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
                <div (click)="openNetCheckPage()">
                    <img width="70" src="assets/imgs/ico_diagnose.png"><br />
                    <span class="topicTitle">Net Check</span>
                </div>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>