<ion-header>

  <ion-navbar color="primary">
    <ion-title>Net Health</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row class="verticalPad">
            <ion-col col-12 text-center>
				<canvas baseChart width="295" height="300"
				    [data]="doughnutChartData"
				    [chartType]="doughnutChartType"
				    [labels]="doughnutChartLabels"
				    (chartHover)="chartHovered($event)"
				    (chartClick)="chartClicked($event)">
			    </canvas>
			</ion-col>
	    </ion-row>

        <ion-row>
            <ion-col col-12 text-center>
            	<p class="menuTitle textRed">CRITICAL: 18%</p>
            	<span class="topicTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id urna arcu. Nam et luctus dolor. Aenean a aliquet quam, et dictum dui. Vivamus sed enim nunc. In sed risus vitae justo luctus accumsan vitae ut erat. Pellentesque mattis metus eu turpis sodales, sed pulvinar felis rutrum. Aliquam sapien eros, aliquam sed erat eget. </span>
	        </ion-col>
	    </ion-row>

	</ion-grid>
</ion-content>
