page-net-activity {

    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }

}

$toast-width: 90%;
.toastAct {
	width: $toast-width;
	margin-left: 5%;
	text-align: center;

 	.toast-wrapper {
    	opacity: 0.8;
    	border-radius: 1.2em;
  	}	
}
