<ion-header>

  <ion-navbar color="primary">
    <ion-title>Net Activity</ion-title>
  </ion-navbar>

</ion-header>
  
<ion-content padding>
    <ion-row class="verticalPad">
        <ion-col col-12 text-center>
	      	<div>
	      		<canvas baseChart width="275" height="350" 
	                  [datasets]="lineChartData"
	                  [labels]="lineChartLabels"
	                  [options]="lineChartOptions"
	                  [colors]="lineChartColors"
	                  [legend]="lineChartLegend"
	                  [chartType]="lineChartType"
	                  (chartHover)="chartHovered($event)"
	                  (chartClick)="chartClicked()"></canvas>
	      	</div>
		</ion-col>
	</ion-row>
</ion-content>
